.navbar {
  padding: 0px !important;
  -webkit-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  -moz-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61); }

div#navbarSupportedContent {
  height: 44px; }

ul.navbar-nav li.nav-item {
  margin: 0 18px; }

ul.navbar-nav .nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  transition: width .5s ease, background-color .5s ease; }

.navbar-nav .nav-item:hover:after {
  width: 100%;
  background: #f44336; }

.btn.btn-md {
  padding: .7rem 1.6rem;
  font-size: 14px; }

.material-input {
  padding: 30px 0 0 0;
  position: relative;
  height: 90px; }
  .material-input::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e2e2e2;
    bottom: 0;
    right: 0;
    transition: transform 400ms ease;
    background: #35ccde;
    transform: scaleX(0); }
  .material-input::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e2e2e2;
    bottom: 0;
    right: 0;
    transition: transform 400ms ease; }
  .material-input .material-label {
    color: #c7c7c7;
    font-size: 14px;
    transform: translateY(22px);
    display: block;
    transition: transform 400ms ease; }

.material-input.is-active::after {
  transform: scaleX(1); }

.material-input.is-up .material-label {
  font-size: 11px;
  transform: translateY(0); }

.input {
  height: 40px;
  width: 100%;
  background: transparent;
  position: relative;
  padding: 8px 0; }

.color-card-header {
  background: #008BC8; }

#notfound {
  position: relative;
  height: 100vh; }
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center; }
  .notfound .notfound-404 {
    position: relative;
    height: 240px; }
    .notfound .notfound-404 h1 {
      font-family: 'Vazir', sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 252px;
      font-weight: 900;
      margin: 0px;
      color: #262626;
      text-transform: uppercase;
      letter-spacing: -40px;
      margin-left: -20px; }
      .notfound .notfound-404 h1 > span {
        text-shadow: -8px 0px 0px #fff; }
    .notfound .notfound-404 h3 {
      font-family: 'Vazir', sans-serif;
      position: relative;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #262626;
      margin: 0px;
      letter-spacing: 3px;
      padding-left: 6px; }
  .notfound h2 {
    font-family: 'Vazir', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px; }

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px; }
    .notfound .notfound-404 h1 {
      font-size: 200px; } }

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px; }
    .notfound .notfound-404 h1 {
      font-size: 162px;
      height: 150px;
      line-height: 162px; }
  .notfound h2 {
    font-size: 16px; } }

.students .teacher-btn {
  margin-right: 0; }

.students .content-table {
  min-height: 390px;
  min-width: 660px;
  border-radius: .25rem;
  margin-bottom: 40px;
  background: rgba(221, 221, 221, 0.41); }
  .students .content-table .bg-dark {
    border-radius: .25rem; }

.searchbox {
  width: 270px;
  height: 40px;
  float: left;
  position: relative; }

.searchbox input[type=text] {
  width: 100px;
  height: 40px;
  border: 0;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-right: 12px;
  float: left; }

.searchbox .btnSearchbox {
  width: 44px;
  height: 40px;
  background: deepskyblue url(../img/search.png) no-repeat center;
  display: block;
  position: absolute;
  top: 0;
  left: -1px; }

/* If the screen size is 600px wide or less, hide the element */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.eot?#") format("embedded-opentype"), url("../fonts/Vazir.ttf") format("truetype"); }

@font-face {
  font-family: SOGAND;
  src: url("../fonts/SOGAND.ttf") format("truetype"); }

.font10 {
  font: 10px Vazir; }

.font11 {
  font: 11px Vazir; }

.font12 {
  font: 12px Vazir; }

.font13 {
  font: 13px Vazir; }

.font14 {
  font: 14px Vazir; }

.font15 {
  font: 15px Vazir; }

.font16 {
  font: 16px Vazir; }

.font17 {
  font: 17px Vazir; }

.font18 {
  font: 18px Vazir; }

.font19 {
  font: 19px Vazir; }

.fontS {
  font: 45px SOGAND; }

body {
  font-size: 18px;
  font-family: Vazir; }

header {
  font-size: 18px; }

/*#intro {
  font-size: 18px;

  //height: 100%;
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.table {
  font-family: Vazir;
  font-size: 17px; }

.filter {
  margin: 5px 0;
  float: left;
  width: 35%;
  height: 48px; }

.main {
  margin-top: 5rem; }
  .main .table-courses {
    margin-bottom: 40px; }
  .main .gradiant-header1 {
    background: #008BC8;
    /* fallback for old browsers */ }
  .main .gradiant-header {
    background: #00896F;
    /* fallback for old browsers */ }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px; } }
